header {
    width: 1080px;
    margin: 0 auto;
    background-color: rgb(148, 151, 151);
}
header div{
    text-align: center;
}
header img {
    width: 40%;
    height: 40%;
    margin-top: 70px;
    align-content: center;
    border-radius: 10%;
}
h1 {
    color: aqua;
    padding: 30px 0px 50px;
    text-align: center;
    font-family: 'Charmonman', cursive;
}
section {
    width: 1080px;
    margin: -22px auto 0;
    background-color: rgb(184, 245, 245);
}
article h2 {
    font-family: 'Charmonman', cursive;
    padding: 20px 0 0 20px;   
}
article div img {
    width: 25px;
    height: 25px;
    margin-left: 40px;
}
article div span {
    vertical-align: 40%;
    margin-left: 10px;
}
article div+div {
    margin-top: 5px;
}
article div span a{
    text-decoration: none;
    color: black;
}
article div:last-child {
    padding-bottom: 15px;
}